//Create a .env file and set any non-optional env vars or change default settings

// Port to listen on, default 80
PORT=80

// Host name, defaults to binding to docker container
HOST='0.0.0.0'

// the node environment, defaults to development
NODE_ENV=development

REDIS_HOST

// defaults to standard redis port
REDIS_PORT=6379

// host can be specified as replica set, if so do not specify the MONGO_PORT
MONGO_HOST
// if using one mongo host and port is not standard mongo port, specify here
MONGO_PORT=27017

MONGO_DB
MONGO_USER
MONGO_PWD